name: Deploy R Script

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install SSH client
      run: sudo apt-get install -y openssh-client

    - name: Add SSH key
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    - name: Debug workspace
      run: |
        echo "Current working directory:"
        pwd
        echo "Workspace contents:"
        ls -l /home/runner/work/workshops_EFFI/workshops_EFFI/
        ls -l /home/runner/work/workshops_EFFI/workshops_EFFI/vegetation_donana
    - name: Check if Docker is installed
      run: docker --version

    - name: Build Docker image
      run: |
        cd /home/runner/work/workshops_EFFI/workshops_EFFI/vegetation_donana
        docker build -t vegetation_donana_image .

    - name: Save Docker image to tar file
      run: |
        docker save vegetation_donana_image -o vegetation_donana_image.tar

    - name: Copy Docker image tar file to server
      run: |
        scp -o StrictHostKeyChecking=no vegetation_donana_image.tar ubuntu@ec2-13-61-146-74.eu-north-1.compute.amazonaws.com:/home/ec2-user/

    - name: Load Docker image and run container on server
      run: |
        ssh -o StrictHostKeyChecking=no ubuntu@ec2-13-61-146-74.eu-north-1.compute.amazonaws.com << 'EOF'
          docker stop vegetation_donana_container || true
          docker rm vegetation_donana_container || true
          docker load -i /home/ec2-user/vegetation_donana_image.tar
          docker run -d -p 3840:3838 --name vegetation_donana_container vegetation_donana_image
        EOF

    - name: Verify GitHub Actions on server
      run: |
        ssh -o StrictHostKeyChecking=no ubuntu@ec2-13-61-146-74.eu-north-1.compute.amazonaws.com 'echo "GitHub Actions are working again 1" > /tmp/github_actions_test.txt'
